services:
  # nginx
  web:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    ports:
      - "8080:80"
      - "8082:8082"
    depends_on:
      - app

  app:
    build:
      context: .
      dockerfile: php/Dockerfile
    depends_on:
      - db

  db:
    image: mysql:8.0
    volumes:
      - mysqldata:/var/lib/mysql
    ports:
      - "3307:3306"
    restart: unless-stopped
    env_file:
      - ./.env/.env

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8081:80"
    env_file:
      - ./.env/.env
    depends_on:
      - db

  python:
    build:
      context: .
      dockerfile: python/Dockerfile
    ports:
      - "8002:8002"

volumes:
  mysqldata: