secrets:
  mysqlHost: "coursey-database-service"
  mysqlRootPassword: "CHANGE_ME_ROOT_PASSWORD"
  mysqlUser: "CHANGE_ME_USERNAME"
  mysqlDatabase: "docker-php"
  mysqlPassword: "CHANGE_ME_PASSWORD"
  pmaHost: "db"
  hostName: "YOUR_DOMAIN" # e.g., example.com
  mailUsername: "YOUR_EMAIL" # For password reset emails
  passApp: "YOUR_APP_PASSWORD" # Gmail app password

python:
  replicaCount: 1
  image:
    repository: YOUR_AWS_ACCOUNT.dkr.ecr.YOUR_REGION.amazonaws.com/coursey/python
    tag: "latest"
  service:
    port: 8002
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "1Gi"
      cpu: "1000m"

php:
  replicaCount: 2
  image:
    repository: YOUR_AWS_ACCOUNT.dkr.ecr.YOUR_REGION.amazonaws.com/coursey/php
    tag: "latest"
  service:
    port: 9000
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "1Gi"
      cpu: "1000m"

nginx:
  replicaCount: 1
  image:
    repository: YOUR_AWS_ACCOUNT.dkr.ecr.YOUR_REGION.amazonaws.com/coursey/nginx
    tag: "latest"
  service:
    # ALB target-type: ClusterIP
    type: ClusterIP
    ports:
      - name: http
        containerPort: 80
        servicePort: 80
      - name: admin
        containerPort: 8082
        servicePort: 8082
  resources:
    requests:
      memory: "64Mi"
      cpu: "50m"
    limits:
      memory: "256Mi"
      cpu: "500m"

mysql:
  replicaCount: 1
  image:
    repository: YOUR_AWS_ACCOUNT.dkr.ecr.YOUR_REGION.amazonaws.com/coursey/mysql
    tag: "latest"
  service:
    port: 3306
  persistence:
    enabled: true
    size: 10Gi
    storageClass: "gp3"
  resources:
    requests:
      memory: "1Gi"
      cpu: "500m"
    limits:
      memory: "2Gi"
      cpu: "2000m"

appConfig:
  apiBaseUrl: "https://api.YOUR_DOMAIN" # e.g., https://api.example.com

ingress:
  enabled: true
  className: "alb"
  alb:
    groupName: "coursey-group"
    scheme: "internet-facing"
    targetType: "ip"
    certificateArn: "arn:aws:acm:YOUR_REGION:YOUR_AWS_ACCOUNT:certificate/YOUR_CERTIFICATE_ID"

  hosts:
    - name: "api"
      host: "api.YOUR_DOMAIN" # e.g., api.example.com
      serviceName: "nginx-service"
      port: 80

    - name: "admin"
      host: "admin.YOUR_DOMAIN" # e.g., admin.example.com
      serviceName: "nginx-service"
      port: 8082

storageClass:
  create: true
  name: gp3
  provisioner: ebs.csi.aws.com
