name: Destroy Infrastructure (DANGER)

on:
  workflow_dispatch:
    inputs:
      confirm_action:
        description: 'Type "DESTROY" to confirm destroying infrastructure (EKS, VPC...)'
        required: true
        default: ""

env:
  AWS_REGION: us-east-1
  TF_VAR_grafana_password: ${{ secrets.GRAFANA_PASSWORD }}

jobs:
  terraform-destroy:
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.confirm_action == 'DESTROY' }}
    defaults:
      run:
        working-directory: ./terraform

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
