name: Destroy Infrastructure (DANGER)

on:
  workflow_dispatch:
    inputs:
      confirm_action:
        description: 'Type "DESTROY" to confirm destroying infrastructure (EKS, VPC...)'
        required: true
        default: ""

env:
  AWS_REGION: ${{ vars.AWS_REGION || 'us-east-1' }}
  TF_VAR_grafana_password: ${{ secrets.GRAFANA_PASSWORD }}
  TF_VAR_cluster_name: ${{ vars.EKS_CLUSTER_NAME }}
  TF_VAR_region: ${{ vars.AWS_REGION || 'us-east-1' }}
  TF_VAR_domain_name: ${{ vars.DOMAIN_NAME }}
  TF_VAR_hosted_zone_id: ${{ vars.HOSTED_ZONE_ID }}

jobs:
  terraform-destroy:
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.confirm_action == 'DESTROY' }}
    defaults:
      run:
        working-directory: ./terraform

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="bucket=${{ vars.TF_STATE_BUCKET }}" \
            -backend-config="key=${{ vars.TF_STATE_KEY }}" \
            -backend-config="region=${{ vars.AWS_REGION }}"

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
